.Operators { color: #fa8d6a; }
.String { color: #8f9d6a; }
.Braces { color: #24c2c7; }
.Statement { color: #cda869; }
.Comment { color: #626262; font-style: italic; }
.Function { color: #8da8ec; }
.Parens { color: #24c2c7; }
.Keyword { color: #aac6e3; }
.Identifier { color: #fc91ad; }
.Special { color: #87919e; }
.Type { color: #9b859d; }
.Exception { color: #cf6a4c; }
.Title { color: #cf6a4c; }
.PreProc { color: #7587a6; }
.Statement { color: #cda869 }
.Function { color: #8da8ec }
.Comment { color: #626262 }
