html {
  height: 100%;
  -webkit-text-size-adjust:none;
}

body {
  overflow: none;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  background: #333;
  background: #111414 no-repeat fixed center top -moz-radial-gradient(top,#2a2e30,#111414);
  background: #111414 no-repeat fixed top center -webkit-gradient(radial, center top, 0, center top, 600, from(#2a2e30), to(#111414));
  color: #fff;
  margin: 30px;
}

.fixed, code, pre {
  font-family: font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  color: #AAA;
  font-size: 12px;
}
pre {
  padding: 10px;
  background: -moz-linear-gradient(0% 100% 0deg, rgba(0, 0, 0, 0.2), transparent 90%);
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(0, 0, 0, 0.2)), to(transparent));
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.logo {
  margin: 0 -10px -20px -10px;
}

h1 {
  font-size: 150%;
  margin: 0 0 5% 0;
}

.wow {
  font-weight: bold;
  padding: 0;
  -webkit-text-stroke: hsla(200,100%,80%,.1) 1px;
  color: #192a33;
  text-shadow:
    hsla(200,100%,70%,.9) 1px -1px 2px,
    hsla(200,100%,50%,.2) 0 -5px 20px,
    rgba(0,0,0,0.9) -10px 20px 25px;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
}

header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

ul, li {
  margin: 0;
  list-style: none;
  padding: 0;
}

section, header, article {
  display: block;
  vertical-align: bottom;
}
section:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
header {
  float: left;
  text-shadow: rgba(100, 100, 100, 0.496094) 0px 1px 1px;
  font-size: 4em;
  width: 40%;
}
article {
  padding-top: 30px;
  display: block;
  overflow: hidden;
  height: 0;
  margin: 10px;
  width: 60%;
  color: rgba(225, 225, 225, 0);
  text-shadow: #222 1px 1px 0.3em;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}
article:target, article.visible {
  color: rgba(225, 225, 225, 1);
  height: auto;
}

.ribbon {
  position: fixed;
  z-index: 3;
  overflow: hidden;
  height: 300px;
  right: 0;
  top: 0;
  pointer-events: none;
}
.ribbon > a {
  pointer-events: auto;
  outline: none;
  position: relative;
  top: 35px;
  left: 35px;
  background-color: #a00;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #333;
  -webkit-box-shadow: 0 0 1em #333;
  box-shadow: 0 0 1em #333;
  display: block;
  border: 1px solid #faa;
  color: white;
  font: bold 10px 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

#packages {
  font-family: 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  margin: 0 0 0 -42px;
  padding: 0 0 50px 0;
}
.package {
  float: left;
  clear: both;
  padding: 2px;
  display: inline;
}
.package > a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.package .name {
  cursor: pointer;
  line-height: 20px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px;
  -webkit-box-shadow: 2px 2px 4px #333;
  -moz-box-shadow: 2px 2px 4px #333;
  box-shadow: 2px 2px 4px #333;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgb(184, 211, 11);
  padding: 3px 5px 3px 15px;
  margin: 10px 0px 10px 0px;
}

.package:hover .name {
  line-height: 50px;
  font-size: 40px;
  padding: 3px 40px 3px 15px;
}
.package[data-active=true] .name {
  background: #D17100;
}
.package[data-broken=true] .name {
  background: red;
}
.package:hover .version {
  visibility: visible;
  font-size: 16px;
}

.version {
  font-size: 1px;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.3s ease;
  color: black;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0%;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: 100% 0%;
  transform: rotate(-90deg);
  transform-origin: 100% 0%;

  border-radius: 5px;
  position: absolute;
  right: 25px;
  top: 5px;
  padding: 0px 3px 0px 3px;
  background: rgba(255, 255, 255, 0.4);
}


#package-details {
  position: fixed;
  left: 45%;
  width: 50%;
}

#package-details .module {
  border-radius: 8px;
  padding: 0px 3px 0px 3px;
  margin: 3px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}
